body {
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*contaier principal*/
.container {
    position: relative;
    width: 420px;
    background-color: rgba(0, 0, 0, 0.178);
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px 10px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 40px 50px;
}

/* Titulo */
.container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 25px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-medium);
    transition: 0.3s; 
    
}

input:focus {
    border-color: var(--primary-medium);
    outline: none; 
    box-shadow: 0 0 5px var(--primary-medium);
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--success);
    border: none;
    border-radius: 5px;
    color: var(--white);
    
}

button:hover {
    background-color: var(--success-hover);
}